.mat-elevation-z8 {
  width: 25%;
  margin-left: 10%;
  margin-top: 50px;
  border-radius: 6px;
}

.full-width-table {
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 6px;
  background-color: #7fb652
}

mat-paginator {
  display: none;
}

